@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

h1{
    font-size: 36pt;
    text-align: center;
    margin: 12px;
}

h2{
    font-size: 24pt;
    text-align: center;
    margin : 6 px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
}


header ul{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: space-around;
    padding: 3vh 0 2vh 0;
}

header li{
display: inline;
}

body {
    background: rgb(82,82,82);
    background: radial-gradient(circle, rgb(59, 59, 59) 0%, rgb(11, 11, 11) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-left: 100px;
    margin-right: 100px;
    color: bisque;
}

a{
    text-decoration: none;
    color: rgb(255, 188, 107)
}

.compteur{
    text-align: center;
    margin: 10px 0 10px 0;
}

.enveloppe_listeform{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

th{
    padding:0 0 20px 0;
}

td{
    padding: 7px 0 7px 0;
}


.liste{
    width: 33%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.045);
    margin-bottom: 40px;
}

.formulaire{
    width: 33%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.045);
    line-height: 20pt;
    margin-bottom: 40px;
}

.dates{
    text-align: center;
}

.submit_wrapper{
    text-align: center;
}

.submit{
    margin-top: 15px;
    padding: 5px 30px 5px 30px;
    background-color: rgb(255, 188, 107) ;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
}

.submit:hover{
    background-color: bisque;
    transform: scale(1.1);
    
}

.champ_txt{
    width: 100%;
    background-color: rgb(255, 246, 236) ;
    border: none;
    border-radius: 10px;
    padding: 3px 0 3px 15px;
}
.case_cocher{
    padding: 3px 0 3px 0px;
    line-height: 40pt;
}

.message_accueil{
    text-align: center;
    margin-top: 150px;
}